<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TQM.Properties.Settings.TQMConnectionString" connectionString="Data Source=localhost;Initial Catalog=TQM;Persist Security Info=True;User ID=sa;Password=Password123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>