<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="ConsoleGoBear.Properties.Settings.GoBearConnectionString"
        connectionString="Data Source=localhost;Initial Catalog=GoBear;Persist Security Info=True;User ID=sa;Password=Password123"
        providerName="System.Data.SqlClient" />
    <add name="ConsoleGoBear.Properties.Settings.GobearConnectionString1"
        connectionString="Data Source=localhost;Initial Catalog=Gobear;User ID=sa;Password=Password123"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
